
<div class="login">
    <form action="/login/dologin" method="POST">
        <label>
            USERNAME:
            <input type="text" name="username"/>
        </label>
        <label>
            PASSWORD:
            <input type="password" name="password"/>
        </label>
        <button type="submit">Login</button>
    </form>

</div>
